rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Публичные ассеты темплейтов
    match /template/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }

    // Фото юзера
    match /user_uploads/{uid}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }

    // (на будущее) результаты
    match /outputs/{uid}/{allPaths=**} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if false;
    }
  }
}
